{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}

<h1>El Football</h1>
<h3>High Quality yet Affordable Football Shop in Town!</h3>

<h3>Hello, </h5>
<h3>{{name}}</h3>

<p>Welcome to El Football Shop and Happy Shopping/Selling :D</p>
<h5>Sesi terakhir login: {{ last_login }}</h5>

<a href="{% url 'main:add_product' %}">
    <button>
        + Add Product
    </button>
</a>

<a href="{% url 'main:logout' %}">
    <button>Logout</button>
</a>

<a href="?filter=all">
    <button type="button">My Wishlist</button>
</a>
<a href="?filter=my">
    <button type="button">My Order</button>
</a> 

<hr>

<h1>Daftar Produk</h1>

{% if not products %}
<p>Belum ada produk yang ditambahkan</p>
{% else %}

{% for item in products %}
<div>
    <h2>
        <a href="{% url 'main:show_product' item.id %}">
            {{item.name}}
        </a>
    </h2>

    <p>
        <b>{{item.get_category_display}}</b>

        {% if item.is_featured %}
        <b>Featured</b>
        {% endif %}

        {% if item.is_deals %}
        <b>Deals</b>
        {% endif %}

        <i>{{item.created_at|date:"d M Y H:i"}}</i>
        | Views: {{item.product_views}}
    </p>

    {% if item.thumbnail %}
    <img src="{{item.thumbnail}}" alt="thumbnail" width="150" height="100">
    <br />
    {% endif %}

    <p><b>Harga:</b> Rp{{ item.price }}</p>

    <p>{{item.description|truncatewords:25}}...</p>

    <p>
        <a href="{% url 'main:show_product' item.id %}">
            <button>Details</button>
        </a>

        {% if user.is_authenticated and product.user == user %}
        <a href="{% url 'main:edit_product' product.pk %}">
            <button>
                Edit
            </button>
        </a>

        <a href="{% url 'main:delete_news' news.pk %}">
            <button>
                Delete
            </button>
        </a>
        {% endif %}
    </p>
</div>

<hr>

{% endfor %}
{% endif %}

{% endblock %}


